<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862949166764-8mejm0k3g41h1o97dpt96318idmadsjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862949166764-8mejm0k3g41h1o97dpt96318idmadsjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBQfxS7xWWGZz805ePuqhHN36MDGiTQZUI</string>
	<key>GCM_SENDER_ID</key>
	<string>862949166764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.codinggod.PChat</string>
	<key>PROJECT_ID</key>
	<string>pchat-e2b30</string>
	<key>STORAGE_BUCKET</key>
	<string>pchat-e2b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862949166764:ios:90900abfc98cd8014ad909</string>
</dict>
</plist>